.App {
  text-align: center;
}

.App-logo {
  animation:App-logo infinite 20s  linear;
  height: 48vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(58, 90, 233);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
